@font-face {
  font-family: Pixelf;
  src: url("../src/assets/Fonts/PixelifySans-Regular.ttf");
}


@import "tailwindcss";

@theme{
  --font-Pixelf: 'Pixelf', sans-serif;
}

#root, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: black;
}